main {
  text-align: center;
  margin-top: 10%;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: white;
  font-size: 4rem;
  margin-bottom: 2.5rem;
}
h2,
h3 {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  color: white;
  font-size: 1.2em;
}
p {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  color: white;
  font-size: 1.2em;
  margin-top: 1rem;
}
.star {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.668);
  transition: color 0.2s ease;
}
.star:hover {
  color: #00ffff;
}
.attiva {
  color: #00ffff;
  transition: color 1s ease;
}
#stelline {
  margin-top: 2em;
  margin-bottom: 4em;
}
footer {
  text-align: center;
}
button {
  border: none;
  box-shadow: 1px 1px 15px 3px #00ffff;
  width: 12rem;
  height: 4rem;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.3rem;
  background-color: #00ffff;
  color: #0b113b;
  border-radius: 5px;
}
input {
  padding-left: 2em;
  padding-bottom: 0.3em;
  width: 42%;
  margin-top: 3em;
  margin-bottom: 3.5em;
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid #d20094;
  color: #d20094;
}
