#title-container {
  font-family: 'Outfit', sans-serif;
  text-align: center;
  margin-top: 4%;
}
#title-container h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

#title-container p {
  font-size: 2rem;
  font-weight: 300;
}

main {
  font-family: 'Inter', sans-serif;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.circle {
  box-shadow: 0px 0px 20px 12px rgba(255, 255, 255, 0.288);
  width: 450px;
  height: 450px;
  text-align: center;
  border-radius: 50%;
  position: relative;
  margin: 4% 6%;
}

#help-css {
  translate: 17% 17%;
  position: absolute;
  width: 75%;
  height: 75%;
  border-radius: 50%;
    background-image: url(/assets/image/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

#correct-answers,
#wrong-answers {
  font-size: 3.5em;
  width: 18%;
  padding: 1.2em 1em;
}
#correct-answers {
  background-color: #00ffffda;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 12px rgba(0, 255, 255, 0.4);
  text-align: center;
  font-weight: 500;
}
#wrong-answers {
  background-color: #d20094;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 12px rgba(212, 0, 255, 0.4);
  text-align: center;
  font-weight: 500;
}
#percent {
  font-size: 1.3rem;
  font-weight: 800;
}
.quest-number {
  font-size: 0.4em;
  margin-top: 2%;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}
.div-graphics {
  padding: 1.5rem;
  margin: 10% 0 auto 0;
}
.percent {
  font-size: 1.2em;
  font-weight: 700;
  margin-top: 2%;
}
#result {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 0.5em;
}
#passed {
  font-size: 1.5em;
  color: #00ffff;
  font-weight: 700;
  margin-bottom: 1.5em;
}
#passed span {
  color: #d20094;
  font-weight: 700;
  margin-bottom: 1.5em;
}
.certificate {
  font-size: 1.1em;
  display: block;
  padding: 0 1em;
  line-height: 1.5em;
}

footer {
  text-align: center;
}
footer button {
  width: 250px;
  height: 60px;
  border: none;
  width: 12rem;
  height: 4rem;
  font-family: "Outfit", sans-serif;
  border: 3px solid #ffffff96;
  font-weight: 700;
  font-style: normal;
  font-size: 1.3rem;
  box-shadow: 10px 15px 8px -9px #00ffff;
  background: linear-gradient(to bottom, #ffffff00 5%, #ffffff00 100%);
  color: #ffffff;
  border-radius: 5px;
}

.martino-semprebello{
  border-radius: 120px;
  width: 102%;
  transform: translateY(-20%);
}

footer button:hover {
  color: #000000;
  box-shadow: 1px 1px 15px 3px #00ffff;
  background-color: #00ffff;
  /* transition: 0.5s; */
}
