@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --colore-accent_color: #00ffff;
  --colore-answer_button: #d20094;
  --colore-answer_button_hover: #900080;
}

body {
  background-image: url("/assets/image/bg.jpg");
  background-repeat: no-repeat;
  max-width: 100%;
  background-size: cover;
  color: white;
}

header img {
  width: 12%;
  padding-top: 2.5vw;
  padding-left: 7vw;
}
